@page
@model IndexModel
@{
    ViewData["Title"] = "Transport";
}

<div>
    <a asp-page="./Trolleys">Trollid</a>
    <a asp-page="./Trams">Trammid</a>
    <a asp-page="./Buses">Bussid</a>

</div>
<div>
    <br/><br /><br />
    Erinevate vahelehtede peal on hetkel sõidus olevate trammide, busside ja trollide asukohad.<br/>
    Võimalik on otsida kindlat numbrit ja saada näha ainult vastavate numbritega transpordi koordinaate<br/>
    Implementeerimata on võimalus "Näita Kaardil", mis peaks näitama antud liiklusvahendi asukohta kaardil<br/>
    Lisaks näitab mitu sõidukit antud numbriga liikvel hetkel on.<br/>
    Lahendamiseks kulus umbes 8 tundi<br/>


</div>